.profile {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {

  .profile {
    flex-direction: column;
    margin-top: 42px;
  }
}

@media screen and (max-width: 450px) {
  .profile {
    margin-bottom: 36px;
  }
}
