.header {
  min-height: 74px;
  margin: 45px 19px 0;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 450px) {

  .header {
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
    min-height: 56px;
  }
}
