.header {
  margin: 45px 19px 0;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 450px) {

  .header {
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 32px;
  }
}
