.profile__info {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  gap: 16px;
}

@media screen and (max-width: 768px) {

  .profile__info {
    gap: 14px;
  }
}
