.profile__button {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background-color: #000;
  margin-left: auto;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  background-image: url(./../../../images/plus.svg);
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: center;
}

.profile__button:hover {
  opacity: .6;
}

@media screen and (max-width: 768px) {

  .profile__button {
    width: 80%;
    margin-top: 36px;
    margin-left: 0;
  }

}

@media screen and (max-width: 450px) {

  .profile__button {
    width: 100%;
  }
}
